<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
					   Funding:<br />
	      	  <a href="https://www.dfg.de/en/">German Research Foundation (DFG)</a>
		  <p>&copy 2022 ARENA</p>
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Department of Psychology<br />
		  Theodor-W.-Adorno-Platz 6<br />
		  D-60323 Frankfurt am Main<br />
		  Germany <br />
            (<a href="https://goo.gl/maps/52chUmW1rLgne7vAA">Maps</a>)

		</div>
		<div class="col-sm-4">				
			<div id="cover">
			  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/dfg_logo_schriftzug_blau_foerderung_en-removebg-preview.png" >
			  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/FIAS-removebg-preview.png" >
			  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/MPISS-removebg-preview.png" >
			  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/GU-Logo-blau-gross-removebg-preview.png">
		</div>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
