---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---
$type-size-1 : 1.0em;      // ~16px
$type-size-2 : 0.9375em;  // ~15px
$type-size-3 : 0.875em;   // ~14px
$type-size-4 : 0.875em;   // ~14px
$type-size-5 : 0.8125em;  // ~13px
$type-size-6 : 0.625em;   // ~10px
$type-size-7 : 0.5625em;  // ~9px
$type-size-8 : 0.5em;     // ~8px
  

.button0 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 5px;
}
.button1 {
    background-color: #0417a4;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 5px;
}
.button2 {
    background-color: #e89511;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 5px;
}
.button3 {
    background-color: #d70e22;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 5px;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "bootstrap-5.3.3/scss/bootstrap.scss";