/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
$primary-color: #DFD0B8 !default;
$footer-background-color: $primary-color !default;
$body-color: #153448 !default;
$text-color: #153448 !default;
$masthead-link-color: #153448 !default;
$muted-text-color:#948979; 
$link-color:  #153448 !default;
// $background-color:  #878787;
.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $primary-color;
}