/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
$primary-color: #354f52 !default;
$footer-background-color: #cad2c5 !default;
$body-color: #2f3e46 !default;
$text-color: #354f52 !default;
$masthead-link-color: #52796f !default;
$muted-text-color:#52796f; 
$link-color:  #84a98c;
// $background-color:  #878787;
.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $primary-color;
}